.{
    margin: 0;
    padding: 0;
}
.parent{
    height:400px;
    width:80%;
    background-color: rgb(173, 230, 190);
    display: flex;
    justify-content: left;
    justify-content: space-between;
    justify-content: space-around;
    flex-wrap: inherit;
    flex-wrap:wrap-reverse;
    align-items: center;
    flex-wrap:nowrap;

    /*flex-direction:column;*/
    



}
.parent .card{
    height: 200px;
    width: 200px;
    background-color: rgb(134, 6, 89);
    margin: 20px;
    border: 5px solid rgb(247, 242, 242);
    text-align: center;
}
span{
    disply:inline;
    background-color: rgb(255,0, 255);
    height: 100px;
}
h2{
    display: inline;
    background-color: rgb(255, 0, 43);
    height: 200px;
}
